@mixin fonts($ff, $fw, $fz, $lh, $ls, $tt) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
    text-transform: $tt;
}
@mixin name {
    
}